//Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
.layout-wrapper.layout-static.layout-static-sidebar-inactive ul li a span{
    display: none;
    height: 0px;
}

.layout-wrapper.layout-static.layout-static-sidebar-inactive ul li a {
    height: auto;
}
.layout-wrapper.layout-static.layout-static-sidebar-inactive  {
    .layout-profile img{
        width: 30px;
        margin: 0px;
       }
   .layout-profile p{
       display: none;
   }
   .layout-logo{
       display: none;
   }
   
   .layout-sidebar-dark .layout-menu li a    {
    border-top: none;
   }
}
.tmss-table {
    overflow: unset !important;
}
.tmss-table .p-datepicker table td {
    overflow-wrap: unset;
}
.tmss-table .p-calendar.p-calendar-w-btn .p-datepicker-trigger.p-button {
    right: 0;
}
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.app-header .app-header-name {
    margin-bottom: 0;
}
.app-header .app-header-actions i {
    margin-left: 20px;
}
.table-filter{
    position: relative;
}
.tb-cal-reset {
    position: absolute;
    right: 40px;
    top: 8px;
}
.table-reset {
    position: absolute;
    right: 8px;
    top: 3px;
}
.table-slider {
    margin-top: 10px;
    margin-bottom: 10px;
}
