.layout-wrapper.layout-static.layout-static-sidebar-inactive ul li a span{
    display: none;
    height: 0px;
}

.layout-wrapper.layout-static.layout-static-sidebar-inactive ul li a {
    height: auto;
}
.layout-wrapper.layout-static.layout-static-sidebar-inactive  {
    .layout-profile img{
        width: 30px;
        margin: 0px;
       }
   .layout-profile p{
       display: none;
   }
   .layout-logo{
       display: none;
   }
   
   .layout-sidebar-dark .layout-menu li a    {
    border-top: none;
   }
}
.tmss-table {
 overflow:auto;
  // since calendar getting inserted to table, because of above overflow, not getting visible
   // so its hacky one based on calendar height
  // padding-top: 350px;
 //  margin-top: -350px;
}
.tmss-table .p-datepicker table td {
    overflow-wrap: unset;
}
.tmss-table .p-calendar .p-calendar-w-btn .p-datepicker-trigger .p-button {
    right: 0;
}
 
.table-filter{
    position: relative;
}
.tb-cal-reset {
    position: absolute;
    right: 30px;
    top: 3px;
}
.table-reset {
    position: absolute;
    right: 8px;
    top: 3px;
}
.table-slider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-filter span {
    margin-right: 20px;
}
.table-filter span input{
    width: 120px;
    height: 25px;
     
}
.viewtable input{
    border-radius: 3px;
    border-color:lightgray;
    border-width: thin;
    border: 1px solid lightgray;
}
.field-error {
    border-color: red !important;
    border: 1px solid red !important;
    box-shadow: 0 0 0 0.2px red !important;
    outline: red;
}

 
.disable-action {
    pointer-events: none;
    opacity: 0.5;
}
.nav-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    :focus {
        background-color: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
    }
    :hover {
        background-color: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
    }
    span {
        display: none !important;
    }
}
.disable-field {
    pointer-events: none;
}
.hide {
    display: none !important;
}
