.layout-main {
    @include transition(margin-left $transitionDuration);
    padding: 60px 16px 16px 25px;
    min-height: 95vh;
    background-color: white;
}

.find-obj-tree-view {
    margin-left: 1em;
    margin-right: 1em;
}