.constraints-summary>div {
    overflow: scroll;
    max-height: 500px;
    margin-bottom: 10px;
}

.constraints-summary table {
    border: 1px solid lightgray;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.table-sm>tbody>tr>td:first-child {
    font-weight: bold;
}

.table-sm>tbody>tr>td>span {
    font-weight: normal;
}

.task-summary>label {
    margin-bottom: 0px;
}

.task-summary #block_container {
    margin-top: 0px;
}