.constraints-summary>div {
    overflow-y: scroll;
    max-height: 500px;
    margin-bottom: 10px;
}

.constraints-summary table {
    border: 1px solid lightgray;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.table-sm>tbody>tr>td:first-child {
    font-weight: bold;
}

.table-sm>tbody>tr>td>span {
    font-weight: normal;
}

.task-summary>label {
    margin-bottom: 0px;
}

.task-summary #block_container {
    margin-top: 0px;
}

/*
 *  STYLE 3
 */

 .json-to-table::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(248, 245, 245, 0.3);
     background-color: #F5F5F5;
 }
 
 .json-to-table::-webkit-scrollbar
 {
     width: 6px;
     background-color: #F5F5F5;
 }
 
 .json-to-table::-webkit-scrollbar-thumb
 {
     background-color: #0000007c;
 }

 .station-list {
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid lightgrey;
    padding: 0px 10px 10px 10px;
 }