.sticky {
    position: sticky;
    top:67px;
    z-index:999;
}

.rct-sidebar-row {
    font-size: 14px;
}

.react-calendar-timeline .rct-header-root {
    background-color: #f0f0f0;
}

.rct-item {
    border: none !important;
}

.timeline-view-toolbar {
    margin-left: 10px;
}

.timeline-view-toolbar label {
    margin-bottom: 0px;
    vertical-align: top;
    margin-right: 10px;
}

.timeline-view-toolbar .p-radiobutton {
    margin-top: -18px;
    margin-right: 3px;
}

.timeline-toolbar-margin-top-0 {
    margin-top: 0px !important;
}

.timeline-toolbar {
    margin-top: 25px;
    margin-bottom: 2px;
    font-size: 12px;
}

.timeline-actionbar {
    padding-right: 0px;
}

.timeline-actionbar button {
    padding-top: 3px;
    font-size: 1.0rem;
    padding-left: 3px;
    // float: right;
}

.timeline-toolbar .p-dropdown {
    float: right;
}

.timeline-toolbar .p-dropdown,.timeline-toolbar .p-dropdown-panel {
    font-size: 12px !important;
    white-space: nowrap;
}

.timeline-filters,.timeline-bottom {
    padding-top: 25px;
}

.timeline-filters button {
    // width: auto !important;
}

.timeline-filters .p-calendar .p-inputtext {
    font-size: 12px;
}

.calendar-input {
    width: 75% !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    font-size:12px !important;
    height: 29px;
}

.calendar-button {
    position: relative;
    width: 20px !important;
    height: 29px;
    margin-left: -2px !important;
    border-radius: 0px !important;
}

.calendar-reset {
    position: relative;
    width: 20px !important;
    height: 29px;
    margin-left: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.timeline-week-span {
    margin-left: 5px;
    margin-right: 5px;
}

.timeline-button {
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 25px;
}

.timeline-details-pane {
    font-size: 14px;
}

#now-btn {
    margin-left: 10px;
}

.sidebar-header {
    color: #ffffff;
    text-align: right;
    padding-right: 10px;
    background-color: #8ba7d9;
}

.sidebar-header-row {
    height: 30px;
}

.legend-row {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
}

.legend-suntime {
    margin-top: 2px;
    padding-left: 3px !important;
}

.legend-sunrise {
    background-color: yellow;
    color: #212529;
}

.legend-sunset {
    background-color: orange;
    color: #212529;
}

.legend-night {
    background-color: grey;
}

.suntime-header {
    line-height: 30px;
}

.suntime-header-day {
    background-color: white;
    color: white;
}

.suntime-header-night {
    background-color: grey;
    color: grey;
}

.suntime-header-sunrise {
    background-color: yellow;
    color: yellow;
}

.suntime-header-sunset {
    background-color: orange;
    color: orange;
}

.su-visible {
    margin-top: 30px;
    // margin-left: -59px !important;
}

.su-hidden {
    margin-left: -20px !important;
    z-index: 0 !important;
    margin-top:40px;
}

.su-hidden>button {
    width: 80px;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    height: 20px;
}
.resize-div,
.resize-div-min,
.resize-div-avg,
.resize-div-max   {
    position: fixed  !important;
    // top: 50%;
    // transition: all 0.2s ease-in 0s;//this is the key attribute
    z-index: 9999;
    //cursor: pointer;
    font-size: 8px;
    color: #ffffff;
    margin-left: -39px;
}

.resize-div-min,
.resize-div-avg,
.resize-div-max  button {
    // height: 50px;
    // width: 10px;
}

.resize-div-min,
.resize-div-avg,
.resize-div-max pi {
    // font-size: 10px;
}

.layout-static-sidebar-inactive .resize-div-min {
    // padding-right: 0.4%  !important;
}

.layout-static .resize-div-min {
    // padding-right: 5.8% ;
}

.layout-static-sidebar-inactive .resize-div-avg {
    // padding-right: 1%  !important;
}

.layout-static .resize-div-avg {
    // padding-right: 7.7% ;
}
.layout-static-sidebar-inactive .resize-div-max {
    // padding-right: 1.4% !important;
}

.layout-static .resize-div-max {
    // padding-right: 9.6% ;
}

.resize-btn {
    // float: right; 
    height: 25px;
    width: 20px;
    font-size: 10px !important;
    background-color: #007ad9;
    color: #faf6f6 !important;
    margin-left: 1px;
    padding-left: 5px;
}

.resize-btn i {
    font-size: 12px;
    cursor: pointer;
    color: #faf6f6 !important;
}

.resize-btn:disabled {
    background-color: #e4e4e4;
    cursor: not-allowed;
    color: #928f8f !important;
}

.resize-btn:disabled i {
    cursor: not-allowed;
    color: #928f8f !important;
}

.reserve-not-available {
    background-color: black;
    color: white;
}

.reserve-available {
    background-color: lightgrey;
    color: #585859;
}

.reserve-manual {
    background-color: #585859;
    color: white;
}

.reserve-dynamic {
    background-color: #9b9999;
    color: white;
}

.su-error {
    background-color: red !important;
    color: white !important;
}

.su-cancelled {
    background-color: orange !important;
    color: black !important;
}

.su-defined {
    background-color: white !important;
    color: black !important;
}

.su-schedulable {
    background-color: lightblue !important;
    color: black !important;
}

.su-scheduled {
    background-color: blue !important;
    color: white !important;
}

.su-observing,.su-started  {
    background-color: yellow !important;
    color: black !important;
}

.su-observed {
    background-color: green !important;
    color: white !important;
}

.su-processing {
    background: repeating-linear-gradient(
                -45deg,
                #f3f708,
                #f3f708 5px,
                #dcdf26 5px,
                #dcdf26 10px
                ) !important;
}

.su-processed {
    background: repeating-linear-gradient(
                -45deg,
                #38f708,
                #38f708 5px,
                #2ad32a 5px,
                #2ad32a 10px
                ) !important;
}

.su-ingesting {
    background-color: #c8a2c8 !important;
    color: black !important;
}

.su-finished {
    background-color: #1ff811 !important;
    color: black !important;
}

.su-error-icon,.su-scheduled-icon,.su-observed-icon {
    color: white !important;
}

.su-cancelled-icon,.su-defined-icon,.su-schedulable-icon,
.su-observing-icon,.su-processing-icon,
.su-processed-icon,.su-ingesting-icon,.su-finished-icon {
    color: black !important;
}

.su-legend {
    padding-left:6px !important;
    border: 1px solid grey;
    cursor: default;
    overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    text-align: center;
}

.legendbar {
    // height: 20px;
    font-size: 10px !important;
    position: sticky;
    top: 33px;
    z-index: 999;
    margin-top: 5px;
    // margin-left: 8px;
}

.timeline-popover {
    z-index: 1000;
}

.timeline-popover:before {
    display: none !important;
}

.timeline-popover:after {
    display: none !important;
}

.p-multiselect-items-wrapper {
    height: 120px !important;
}

.p-multiselect-header .p-multiselect-close {
    position: absolute;
    right: -30px;
    top: .375em;
    display: block;
    border: 0 none;
}

body .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
    color: #007ad9;
    top: 50%;
    margin-top: -0.5em;
    right: -1em;
    left: auto;
}
body .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding: 0.520em;
    // padding-right: 6em;  //Ramesh: Not sure why is it required. As the search text content in the multiselect component is not visible, removing it.
}
.alignTimeLineHeader {
    display: flex;
    justify-content: space-between;

}
.sub-header {
    display: inline-block;
} 
.body .p-inputswitch {
    width: 3em;
    height: 1.75em;
  //  top: -3px;
}
.toggle-btn {
    height: 20px;
    font-size: 12px !important;
    bottom: 8px !important;
}
.toggle-btn>span {
    padding: 0em 0.25em !important;
}