 .viewtable{
  overflow: auto !important;
  padding: 0.75em;
 }
  
.viewtable th {
    color: #7e8286;
    font-size: 14px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: .65rem;
    vertical-align:bottom; 
  }  
    
.viewtable th>div {
  vertical-align: text-bottom;
}

.viewtable  td {
  font-size: 14px;
  padding: .65rem;
  border-bottom: 1px solid lightgray;
  overflow-wrap: anywhere;
} 
    
.filter-input input{
  max-width: 175px;
}

.filter-input-50 input{
  width: 50px;
}

.filter-input-75 input{
  width: 75px;
}

.filter-input-100 input{
  width: 100px;
}

.filter-input-125 input{
  width: 125px;
}

.filter-input-150 input{
  width: 150px;
}

.filter-input-175 input{
  width: 175px;
}
 
.pagination button {
  margin-left: 3px;
  background-color: #005b9f;
  border: 1px solid #005b9f;
  border-radius: 4px;
  color: white;
  font-weight: 900;
}

.pagination button:disabled {
  margin-left: 3px;
  background-color: #c8c9c9;
  border: 1px solid #c8c9c9;
  border-radius: 4px;
  color: white;
}

