#block_container { 
  display: flex;
  vertical-align: middle;
  margin-top: 20px
}

.table_container {
  overflow: auto;
  padding: 0.75em 0;
}

.viewtable{
  overflow: auto !important;
  padding: 0.75em;
  width: 100%;
}
  
.viewtable th {
    color: #7e8286;
    font-size: 14px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: .65rem;
    vertical-align:bottom; 
  }  
    
.viewtable th>div {
  vertical-align: text-bottom;
}

.viewtable  td {
  font-size: 14px;
  padding: .65rem;
  border-bottom: 1px solid lightgray;
  overflow-wrap: anywhere;
}

.pagination {
  margin-top: .25em;
  display: flex;
  justify-content: center;
  background-color: #ebeaea;
  border: none;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

body .p-paginator {
  margin-top: .25em;
  margin-bottom: .15em;
  background-color: #ebeaea;
  border: none;
}

.p-paginator .p-paginator-icon {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1em;
  height: 1em;
  margin-top: -.5em;
  margin-left: -.5em;
  border-color: black;
  color: #007ad9;
}

.p-dropdown .p-dropdown-trigger .p-dropdown-trigger-icon {
  top: 50%;
  left: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
  position: absolute;
  border-color: black;
  border: black;
}

.pagination span {
  margin-bottom: 0px;
}

.pagination input {
  margin-top: .25em;
  margin-bottom: .15em;
  margin-left: 1em;
  margin-right: 0.75em;
  width: 5em;
  height: 2.25em;
  border: none;
  text-align: center;
}

.pagination button {
  margin-left: 5px;
  height: 35px;
  margin-bottom: .15em;
  font-size: 14px;
  padding-left:10px;
  
}
.filter-input input{
  max-width: 175px;
}

.filter-input-0 input{
  display: none;
}

.filter-input-50,.filter-input-50 input{
  width: 50px;
}

.filter-input-75,.filter-input-75 input{
  width: 75px;
}

.filter-input-100,.filter-input-100 input{
  width: 100px;
}

.filter-input-125,.filter-input-125 input{
  width: 125px;
}

.filter-input-150,.filter-input-150 input{
  width: 150px;
}

.filter-input-175,.filter-input-175 input{
  width: 175px;
}
 
.table_container .pi {
  padding-left: 3px;
}

.total_records_bottom_label {
  text-align: left;
  margin-right: 20px;
  margin-top: 7px;
}
.total_records_top_label {
  margin-left: 15px;
}
