.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #303d59;
  height: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10px;
}

.App-link {
  color: #61dafb;
}

label {
  font-size: 14px;
  font-weight: 600;
  align-items: flex-start !important;
  color: #004B93;
  margin-bottom: 10px;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 15px !important;
}

a{
  margin-bottom: 10px;
}

.main-content {
  margin-top:20px;
}

.main-content span,a{
  font-size: 14px;
}

#editor_holder {
  padding: 0px 10px;
}

.chips-readonly > ul {
  border: none;
}

p {
  font-size: 14px;
}

.card {
  border: none;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-body {
  padding: 0.25rem;
  margin-bottom: 5px !important;
}

.form-group {
  margin-bottom: 5px !important;
}

.btn-group {
  margin-bottom: 5px;
}

.main-content .p-grid span {
  margin-bottom: 10px;
}

.p-chips-token,.p-inputnumber span {
  margin-bottom: 0px;
}

.p-chips-token .p-chips-token-label {
  margin-bottom: 0px !important;
}

.p-field {
  margin-bottom: 0.5rem;
}

.p-inputtext {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
  padding-left: 0.25em !important;
}

.act-btn-grp {
  margin-top: 20px;
}

.task-list {
  padding-inline-start: 0px;
}

.task-list > li {
  list-style: none;
}

.col-filter-btn {
  margin-left: 15px;
  padding-top: 5px;
  cursor: pointer;
}

#editor_holder label {
  text-transform: capitalize;
  color: #28289b;
}

.p-multiselect-label {
  margin-bottom: 0px;
}

.resource-input-grid div {
  margin-bottom: 1rem;
}

.layout-main .fa {
  color: #005b9f;
  font-size: 20px;
}

thead {
  background-color: #ebeaea;
}

.error {
  color: #dc3545;
  font-size: 80%;
  font-weight: 400;
}

.info {
  color: #b4b2b2;
  font-size: 80%;
  font-weight: 400;
}

.input-error {
  border-color: #dc3545 !important;
}

.p-tooltip-custom .p-tooltip-text {
  /* background-color: #49b0ff !important; */
}

.p-link:focus {
  box-shadow: none !important;
}

.pi-primary {
  color: #007ad9;
}

.pi-warning {
  color: #ffba01;
}

.pi-success {
  color: #34A835;
}

.pi-info {
  color: #008fba;
}

.pi-error {
  color: #e91224;
}

.pi-small {
  font-size: rem !important;
}

.pi-medium {
  font-size: 1.5rem !important;
}

.pi-large {
  font-size: 2rem !important;
}

.pi-x-large {
  font-size: 3rem !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div[data-schemapath='root.$schema'] {
  display: none;
}

.app-header-menu ul li a span {
  display: inline !important;
}

.numericAgGridField {
  outline: none !important;
  border:  none !important;
}